.error{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    font-size: 35px;
    
}
/*imagen tamaño*/
.imagen{
  width: 600px;
  height: 600px;
}